:root {
  --tg-theme-bg-color: white;
  --tg-theme-text-color: black;
  --tg-theme-hint-color: grey;
  --tg-theme-link-color: blue;
  --tg-theme-button-color: blue;
  --tg-theme-button-text-color: white;
  --tg-theme-secondary-bg-color: lightgrey;
  --tg-theme-header-bg-color: white;
  --tg-theme-accent-text-color: yellow;
  --tg-theme-section-bg-color: white;
  --tg-theme-section-header-text-color: black;
  --tg-theme-subtitle-text-color: black;
  --tg-theme-destructive-text-color: red;
}
